<% provide(:title, "About") %>
	<h1> Micro-Blog | <%=yield(:title)%> </h1>
	<p> 
		This Micro-Blog was created using the <a href="http://www.railstutorial.org/book">Tutorial pdf book</a>

		By <a href="https://uk.linkedin.com/in/kainewright">Kaine Wright</a> 
	</p>
	