<% provide(:title, "Contact") %>
	<h1> Micro-Blog | <%=yield(:title)%> </h1>
	<p> 
		To contact the author of the tutorial please goto <a href="http://www.railstutorial.com/">Rails tutorial</a>

		and click on the contact link to contact the author.

		to contact the creator of the Micro-Blog please goto
		the about page and click on the link provided 

		thank you and have a good day.
	</p>
