<% provide(:title, "Help") %>
	<h1> Micro-Blog | <%= yield(:title) %> </h1>
	<p> 
		Get help with this Tutorial at <a href="https://www.railstutorial.org/help">Rails Tutorial help section</a>

		Or you can goto <a href="http://www.stackoverflow.com">Stack Overflow</a>

		And finally if you would like poeple to speak with (sometimes it takes a while to get a response depending on where you are in the world) goto <a href="http://irc.lc/freenode/rails">Web based irc client</a> and join channel #rubyonrails.

		Take note though that you will need to register your nick name using the /msg nickserv commands. If you are unfamiliar with this please use the /msg nickserv help command or try google for a walk through.  
		</p>
