<% provide(:title, "Home") %>
	<h1> Micro-Blog | <%= yield(:title) %> </h1>
	<p> 
		Welcome to the Micro-Blog Tutorial based on the Ruby on Rails Turorial Pdf Chapter 3

		To follow along goto <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>

		Sample_app Chapter 3 
	</p>
